<div class="relative mt-8 ml-4 rounded-xl shadow-xl border-2 border-primary400 h-[40rem] w-96">
                
                    
    <img [src]="imagem" class="object-fill w-full h-72 rounded-t-xl" alt="">

    <div class="w-full h-min flex justify-between">
        <p class="mt-2 ml-2 text-inter text-lg text-neutral700">{{autor}}</p>
        <p class="mt-2 mr-2 text-inter text-lg text-neutral700">{{categoria}}</p>

    </div>

    <h1 class="mx-auto mt-4 w-4/5 text-4xl text-inter font-medium text-neutral900">{{titulo}}</h1>

    <h2 class="mx-auto line-clamp-1 mt-4 w-4/5 h-44 text-inter text-lg font-medium text-neutral700">{{descricao}}</h2>

    <p class="absolute bottom-1 left-2 text-inter text-lg text-neutral700">Meta : R$ {{meta}},00</p>
    <button (click)="donate()" class="absolute bottom-1 right-2 text-inter text-lg text-white bg-primary500 h-12 w-16 rounded-lg">Ajudar</button>
        
</div>
