<div id="content">
    <div class="container relative mx-auto h-[55rem] w-full bg-gradient-to-br from-white to-primary400">
        <navbar></navbar>
        <!-- Hero -->
        <section class="mt-40 ml-36 absolute flex" id='hero'>
            <!-- Banner -->
            <div class="block">

                <div class="flex relative w-[28rem] h-16 bg-white rounded-3xl space-x-4 p-4 items-center justify-between">
                    <div class="flex space-x-1 my-auto items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="none" viewBox="0 0 19 18">
                            <circle cx="9.892" cy="9" r="9" fill="#FF2E6B"/>
                            <path stroke="#FFF0F3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5.892 9 2.8 3 5.2-6"/>
                        </svg>
                        <p class="text-neutral400">Registro Grátis</p>
                    </div>
    
                    <div class="flex space-x-1 my-auto items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="none" viewBox="0 0 19 18">
                            <circle cx="9.892" cy="9" r="9" fill="#FF2E6B"/>
                            <path stroke="#FFF0F3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5.892 9 2.8 3 5.2-6"/>
                        </svg>
                        <p class="text-neutral400">Sem taxas</p>
                    </div>
                    <div class="flex space-x-1 my-auto items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" fill="none" viewBox="0 0 19 18">
                            <circle cx="9.892" cy="9" r="9" fill="#FF2E6B"/>
                            <path stroke="#FFF0F3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5.892 9 2.8 3 5.2-6"/>
                        </svg>
                        <p class="text-neutral400">Rápido e Prático</p>
                    </div>
                </div> 
                <!-- Hero Text -->
                <h1 class="mt-5 font-light text-5xl text-neutral800">Faça a diferença com apenas</h1>
                <h1 class="font-bold text-5xl text-primary600">um helpinho</h1>

                <h2 class="mt-5 font-light text-2xl w-[30rem] text-neutral800">Os helpinho podem parecer pequenos, mas juntos fazem a <span class="font-bold text-primary600"> diferença na vida de todos</span></h2>
                <div class="flex mt-5">
                    
                    <a routerLink="/register" routerLinkActive="active" class="h-12 pt-3 font-inter font-semibold text-sm text-center text-white w-40 bg-primary500 rounded-2xl">Registre-se Grátis</a>
                </div>
            </div> 
            <!-- Images -->
            
            <img class = ""src="../../../assets/Hero_Image.png" alt="">
              
        </section>
    </div>
    
    <!-- Steps -->
    <div class="container mt-36 flex mx-auto w-full h-20 space-x-12 justify-center items-center">
        <div class="flex">
            <h1 class="text-primary500 font-montserrat font-bold text-4xl">1.</h1>
            <div class="block ml-2">
                <h1 class="font-bold font-inter text-xs">Escolha</h1>
                <h2 class="font-inter text-xs text-neutral400 w-40">Escolha um helpinho que deseja ajudar</h2>
            </div>
        </div>
        <div class="flex">
            <h1 class="text-primary500 font-montserrat font-bold text-4xl">2.</h1> 
            <div class="block ml-2">
                <h1 class="font-bold font-inter text-xs">Doe</h1>
                <h2 class="font-inter text-xs text-neutral400 w-52">O valor é você quem decide, e ele vai todo para quem escolher</h2>
            </div>
        </div>
        <div class="flex">
            <h1 class="text-primary500 font-montserrat font-bold text-4xl">3.</h1>
            <div class="block ml-2">
                <h1 class="font-bold font-inter text-xs">Aproveite</h1>
                <h2 class="font-inter text-xs text-neutral400 w-40">Doar gera felicidade para você e para quem recebeu.</h2>
            </div>
        </div>
        <div class="flex">
            <h1 class="text-primary500 font-montserrat font-bold text-4xl">4.</h1>
            <div class="block ml-2">
                <h1 class="font-bold font-inter text-xs">Acompanhe</h1>
                <h2 class="font-inter text-xs text-neutral400 w-44">Fique ligado, acompanhe se o helpinho alcançou o objetivo </h2>
            </div>
        </div>
    </div>
    
    <div class="container flex space-x-12 w-full h-20 mx-auto mt-20">
        <div class="flex space-x-2 h-10 w-3/5 border-2 border-neutral500 rounded-md p-1">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 18.4722L13.875 14.8472M15.8333 10.1388C15.8333 13.8207 12.8486 16.8055 9.16667 16.8055C5.48477 16.8055 2.5 13.8207 2.5 10.1388C2.5 6.45694 5.48477 3.47217 9.16667 3.47217C12.8486 3.47217 15.8333 6.45694 15.8333 10.1388Z" stroke="#6D6D6D" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input [(ngModel)] = "filter" (keyup.enter)="onEnter()" placeholder="Pesquise pelo título de um helpinho" type="text" class="text-neutral500 w-full text-md text-inter">
                
        </div>
        @if(CurrentUser() != null){
            <a routerLink="/new-item" routerLinkActive="active" class="h-10 pt-2 font-inter font-semibold text-sm text-center text-white w-40 bg-primary500 rounded-md">Criar novo helpinho</a>
        }
        
    </div>
    
    <div class="mx-auto mb-12 w-4/5 grid grid-cols-4 gap-x-24">
        @for(card of cards; track card.helpId){
            <app-item-card [autor] = "card.solicitante" [categoria]="card.categoria" [titulo] = "card.titulo" [descricao] = "card.descricao" [imagem] = "card.imagem" [meta] = "card.meta" ></app-item-card>
        }
    </div> 
    

</div>